<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="c32c2dca-43ff-4470-b559-54a6d0332cb5" Version="3.26.1" Name="Pulumi" Manufacturer="Pulumi" xmlns="">
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="Pulumi" />
      </Directory>
    </Directory>
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="pulumi-analyzer-policy-python.cmd" Guid="95499d6f-4000-4231-aac7-812066d8132b">
        <File Id="pulumi-analyzer-policy-python.cmd" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-analyzer-policy-python.cmd" KeyPath="yes" />
      </Component>
      <Component Id="pulumi-language-dotnet.exe" Guid="4b645528-9a23-4012-819d-aa154649c2dc">
        <File Id="pulumi-language-dotnet.exe" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-language-dotnet.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="pulumi-resource-pulumi-nodejs.cmd" Guid="52766a9b-ceb1-4edc-9e61-46c296d8d60c">
        <File Id="pulumi-resource-pulumi-nodejs.cmd" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-resource-pulumi-nodejs.cmd" KeyPath="yes" />
      </Component>
      <Component Id="pulumi-language-nodejs.exe" Guid="0937bffb-16d8-4606-a77f-a2e7fb958f4a">
        <File Id="pulumi-language-nodejs.exe" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-language-nodejs.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="pulumi-language-go.exe" Guid="97a6acbb-f38c-4360-a073-8f46cedcf6d8">
        <File Id="pulumi-language-go.exe" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-language-go.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="pulumi-python3-shim.cmd" Guid="ce1fb523-4ff7-4c3d-b9df-f778d5161039">
        <File Id="pulumi-python3-shim.cmd" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-python3-shim.cmd" KeyPath="yes" />
      </Component>
      <Component Id="pulumi.exe" Guid="6e4621a5-41b6-4155-bbf5-06658c242046">
        <File Id="pulumi.exe" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="pulumi-analyzer-policy.cmd" Guid="b15927d7-cb3e-4143-8ebe-75511f54c7c9">
        <File Id="pulumi-analyzer-policy.cmd" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-analyzer-policy.cmd" KeyPath="yes" />
      </Component>
      <Component Id="pulumi-python-shim.cmd" Guid="9e4497d2-c12a-450d-aa8b-e1ba26199dea">
        <File Id="pulumi-python-shim.cmd" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-python-shim.cmd" KeyPath="yes" />
      </Component>
      <Component Id="pulumi-language-python-exec" Guid="529e3a2f-d968-489a-bedb-a12a6dae9776">
        <File Id="pulumi-language-python-exec" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-language-python-exec" KeyPath="yes" />
      </Component>
      <Component Id="pulumi-language-python.exe" Guid="9a0b9756-5047-48b2-9bb8-1322e6d12b38">
        <File Id="pulumi-language-python.exe" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-language-python.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="pulumi-resource-pulumi-python.cmd" Guid="524f1426-e869-4a8d-9026-3e757278edef">
        <File Id="pulumi-resource-pulumi-python.cmd" Source="/Users/zaid/projects/pulumi-winget/src/pulumi/pulumi/bin/pulumi-resource-pulumi-python.cmd" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <Feature Id="MainInstaller" Title="Installer" Level="1">
      <ComponentRef Id="pulumi-analyzer-policy-python.cmd" />
      <ComponentRef Id="pulumi-language-dotnet.exe" />
      <ComponentRef Id="pulumi-resource-pulumi-nodejs.cmd" />
      <ComponentRef Id="pulumi-language-nodejs.exe" />
      <ComponentRef Id="pulumi-language-go.exe" />
      <ComponentRef Id="pulumi-python3-shim.cmd" />
      <ComponentRef Id="pulumi.exe" />
      <ComponentRef Id="pulumi-analyzer-policy.cmd" />
      <ComponentRef Id="pulumi-python-shim.cmd" />
      <ComponentRef Id="pulumi-language-python-exec" />
      <ComponentRef Id="pulumi-language-python.exe" />
      <ComponentRef Id="pulumi-resource-pulumi-python.cmd" />
    </Feature>
  </Product>
</Wix>