name: Deploy

on:
  repository_dispatch:
    types:
      - winget-deploy

jobs:
  deploy:
    uses: ./.github/workflows/shared.yml
    with:
      publish_release: true
      push_manifest: true
    secrets:
      PULUMI_BOT_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
