name: Generate MSI

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup dotnet SDK v6.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - name: Set path for candle and light from WixTools
        run: echo "C:\Program Files (x86)\WiX Toolset v3.11\bin" >> $GITHUB_PATH
        shell: bash
      - name: Generate Pulumi MSI
        run: dotnet run --project ./src -- generate msi
      - name: Setup dotnet SDK v5.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
      - name: Push WinGet Manifest
        shell: powershell
        run: |
          $github_token = "${{ secrets.PULUMI_BOT_TOKEN }}"
          $manifest = "./src/manifest.yaml"
          $manifest_exists = Test-Path -Path $manifest -PathType Leaf
          iwr https://aka.ms/wingetcreate/latest -OutFile wingetcreate.exe
          if ($manifest_exists) { .\wingetcreate.exe submit -t $github_token $manifest }