name: Generate MSI

on:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/shared.yml
    with:
      publish_release: true
      push_manifest: true
    secrets:
      PULUMI_BOT_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
